\:host
   width: 70%
   margin: 0 auto
   .tracks-title
      position: relative
      font-weight: 900
      padding: 40px
      text-align: center
      color: #fff
      margin-bottom: 50px
      text-transform: uppercase
      &:before
         content: ''
         width: 50px
         height: 3px
         background-color: currentColor
         position: absolute
         bottom: 30px
         left: calc(50% - 25px)
   .tracks-wrap
      display: flex
      flex-wrap: wrap
      justify-content: center
      position: relative
      background-color: #292B2F
      padding: 160px 20px 20px
      box-shadow: 0 0 34px #ffffff05
      .titles-wrap
         position: absolute
         top: 40px
         left: 40px
         .sub-title
            font-weight: 900
            color: #fff
         .active-genre
            margin-top: 10px
            color: #5C5EDC
      
      &::before, &::after
         content: ''
         background-color: #292B2F
         width: 96%
         height: 60px
         position: absolute
         top: -20px
         left: 2%
         z-index: -1
         box-shadow: 0 0 14px #ffffff05
      &::after
         width: 92%
         top: -40px
         left: 4%
         z-index: -2


@media screen and (max-width: 768px)
   \:host
      width: 95%
      .tracks-wrap
         padding: 100px 10px 10px
         .titles-wrap
            top: 20px
            left: 20px
            .sub-title
               font-weight: 900
               font-size: 1.7rem
            .active-genre
               margin-top: 5px

