<h1 class="title">{{ 'tracks' | uppercase }}</h1>
<div class="tracks-wrap">
  <h1 class="title">Active genre now</h1>
  <h2 class="active-genre">Rock</h2>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
  <div class="track"></div>
</div>