<a routerLink="disco" routerLinkActive="active" class="link tag-menu-link">disco</a>
<a routerLink="rap" routerLinkActive="active" class="link tag-menu-link">rap</a>
<a routerLink="rock" routerLinkActive="active" class="link tag-menu-link">rock</a>
<a routerLink="pop" routerLinkActive="active" class="link tag-menu-link">pop</a>
<a routerLink="country" routerLinkActive="active" class="link tag-menu-link">country</a>
<a routerLink="electronic" routerLinkActive="active" class="link tag-menu-link">electronic</a>
