<a 
   (click)="onLinkClick($event)" 
   name="disco" 
   routerLink="tracks/disco" 
   routerLinkActive="active" 
   class="link tag-menu-link"
>
   disco
</a>
<a 
   (click)="onLinkClick($event)" 
   name="rap" 
   routerLink="tracks/rap" 
   routerLinkActive="active" 
   class="link tag-menu-link"
>
   rap
</a>
<a 
   (click)="onLinkClick($event)" 
   name="rock" 
   routerLink="tracks/rock" 
   routerLinkActive="active" 
   class="link tag-menu-link"
>
   rock
</a>
<a 
   (click)="onLinkClick($event)" 
   name="pop" 
   routerLink="tracks/pop" 
   routerLinkActive="active" 
   class="link tag-menu-link"
>
   pop
</a>
<a 
   (click)="onLinkClick($event)" 
   name="country" 
   routerLink="tracks/country" 
   routerLinkActive="active" 
   class="link tag-menu-link"
>
   country
</a>
<a 
   (click)="onLinkClick($event)" 
   name="electronic" 
   routerLink="tracks/electronic" 
   routerLinkActive="active" 
   class="link tag-menu-link"
>
   electronic
</a>
<a 
   (click)="onLinkClick($event)" 
   name="alternative" 
   routerLink="tracks/alternative" 
   routerLinkActive="active" 
   class="link tag-menu-link"
>
   alternative
</a>
